
.navbar{
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;
    height: 6.25vh;
}
h1{
    margin: auto;
    height: 7.25vh;
}

.home{
    height: 93.75vh;
}
p{
    margin: 30px;
    font-size: inherit;
}

.about{
    height: 68.6vh;
    
}
.imgHome{
    background-image: url(img/stocksea.jpg);
    background-size: cover;
    height: 93.75vh;
}
html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.row{
    width: 100%;
}

li{
    font-size: large;
}
.placeholderAbout{
    height: 26vh;
}
.placeholderHome{
    height: 16px;
}

.placeholderNav{
    height: 6.24vh;
}
.imgFind{
    background-image: url(img/signs.jpg);
    background-size: cover;
}
.placeholderFind{
    height: 541px;
}
h3{
    height: 5vh;
    margin: 2.5vh;
}
.placeholderPricing{
    height: 47vh;
}
.placeholderContact1{
    height: 29vh;
}
.placeholderContact2{
    height: 29vh;
}
.placeholderContact3{
    height: 40vh;
}
.placeholderContact4{
    height: 22vh;
}
.home, .about, .find, .pricing, .contact{
    position: relative;
}

::placeholder {
    color: inherit;
}

input{
    width: 100%;
}
h4{
    font-size: 20px;
    margin: 20px;
}
.pricing{
    height: 93.75vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
  }
  .contact{
      height: 93.75vh;
  }
  .panell{
      height: 100%;
  }
  
.bottom {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 2vh;
  }
label{
      margin: 30px;

  }
.findUs{
    height: 93.75vh;
}